{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{ url_for("login") }}" method="POST" class="form-inline">{# <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
{% if next %}
    <input type="hidden" name="next" value="{{next}}">
{% endif %}
  <div class="form-group">
    <label for="email" class="required w-100">E-postadresse</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="deg@eksempel.no" value="{{email if email}}" autofocus>
  </div>
  <div class="form-group">
    <label for="password" class="required w-100">Passord</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Passord">
  </div>
  <div class="form-group">
    <div class="custom-switch">
        <input type="checkbox" id="remember-my-information" name="remember" {{"checked" if remember}}>
      <label for="remember-my-information">Husk meg til neste gang</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" name="Login" value="Login">Logg inn</button>
  
  {% if not config.DISABLE_REGISTRATION %}
  <a href="{{ url_for("register") }}" class="btn btn-link" role="button">Registrer deg</a>
  {% endif %}

  <a href="{{ url_for("lost_password") }}" class="btn btn-link" role="button">Har du glemt passordet?</a>
</form>
{% endblock %}
