{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{url_for("lost_password")}}" method="POST" class="form-inline">{# class="w-400 mw-full" <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
  <div class="form-group">
    <label for="email" class="required">E-postadresse</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="deg@eksempel.no" autofocus>
  </div>
  <div class="form-group">
    <div class="form-text">
        Du vil motta en epost med en lenke til å sette nytt passord.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" name="Submit" value="Submit">Send</button>
  <a href="{{ url_for("login") }}" class="btn btn-link" role="button">Logg inn</a>
  {% if not config.DISABLE_REGISTRATION %}
  <a href="{{ url_for("register") }}" class="btn btn-link" role="button">Registrer deg</a>
  {% endif %}
</form>
{% endblock %}
